@charset "UTF-8";
*{margin:0; padding:0;}
h1{
	position: absolute;
	left:-999px;
}
ul{
	list-style: none;
}
body{
	font:12px malgun gothic,"sans serif";
		background-color: #f8f9fa;
		overflow-x:hidden;
}
a{
	color:black;
	text-decoration: none;
	cursor:pointer;
}
button{
	border:none;
	background-color: #f8f9fa;
	font-size: 17px;
}
button:hover{
	cursor: pointer;
}
/* -------------header영역----------------- */
.header-wrap{
	width:100%;
	height: 62px;
	display:flex;
	justify-content: space-between;
	font-size:16px;
	background-color: #fff;
}

.left{
	display: flex;
	margin:auto 0;
	margin-left:20px;
	margin-right:220px;
	font-weight:600;
}
.btn a span{
	display:block;
	width:15px;
	height:20px;
	display: block;
	position: relative;
	margin-right:20px;
}
.btn span i{
	width:100%;
	border-top:2px solid black;
	position: absolute;
}
.btn span i:nth-child(1){
	top:4px;
}
.btn span i:nth-child(2){
	top:10px;
}
.btn span i:nth-child(3){
	top:16px;
}


.right{
		margin:auto 0;
		margin-right:25px;
}
.right ul{
	display: flex;
}
.right li{
	margin:0 10px;
	font-weight:500;
}
.right span{
	color:gray;
	font-weight: bold;
}
.reg a:hover{
	color:#0080ff;
}
.login{
	border:2px solid #333;
	border-radius: 25px;
}
.login a{
		padding:0 20px 0 20px;
		font-weight: bold;
}
.login:hover{
	background-color: #0080ff;
}
.login:hover a{
	color:#fff;
}
.dropdown{
  display: flex;
}

.dropdown-content{
  top:0;
  left:0;
  transform:translate3d(-100%,0,0);
  position: absolute;
  background-color: #f9f9f9;
  width: 400px;
  height: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content2{
  top:0;
  right:0;
  transform:translate3d(100%,0,0);
  position: absolute;
  background-color: #f9f9f9;
  width: 400px;
  height: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.x{
	font-size:20px;
	font-weight:500;
	margin-bottom:15px;
	padding-bottom:30px;
}
/* -------------main영역----------------- */
.main-wrap{
	width:1903px;
	height:100%;
}

.visual{
	width:100%;
	height: 559px;
	overflow: hidden;
	position: relative;
	margin:0 auto 50px auto;
}
.visual-img{
		position:absolute;
		display: flex;
		top:0;
		left:0;
}
.visual-img li{
	width:1903px;
	height:700px;
}
.main{
	width:1280px;
	height:496px;
	display:flex;
	margin:0 auto;
}
.game{
	width:868px;
	height:496px;
}
.rec-game{
	height:496px;
	display:flex;
	margin-top:50px;
}

.recomend{
	display:inline-block;
	width:153px;
	height: 330px;
	background-color: #fff;
	margin-right:10px;
	margin-bottom:20px;
	overflow: hidden;
}
.img-size{
	width:153px;
	height:180px;
	overflow: hidden;
	margin-bottom:20px;
}
.recomend img{
	width:153px;
	height:180px;
	padding-bottom:15px;
	transition: transform 0.35s;  
}
.recomend:hover img{
	transform:scale(1.1);
	 transition: transform 0.35s;  
}
.recomend:hover{
	box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
	 transition: transform 0.35s;  
	 cursor: pointer;
}
.recomend span{
	border:1px solid #fff;
	border-radius: 20px;
	background-color: #00dbd3;
	padding:1px 5px;
	color:#fff;
	font-weight: bold;
}
.detail span,i{
	margin-left:10px;
}
.recomend i{
	display:block;
	margin-top:10px;
	font-weight: bold;
	font-style: normal;
}
.log{
	margin-top:50px;
	width:465px;
	height:250px;
		background-color: #fff;
		padding-top: 80px;
}
.log-title{
	margin-left:25px;
}
.login1{
	border:1px solid black;
	background-color: black;
	width:353px;
	height:60px;
	display: flex;
	justify-content: center;
			margin:0 auto;

}
.login1 a{
		display:block;
		width:353px;
		line-height:60px;
	color:#fff;
	font-size:18px;
	font-weight: bold;
	padding-left:100px;
}
.login1:hover{
	background-color: #07f;
}
.login2{
	border:1px solid gray;
	background-color: #4a4e57;
		width:353px;
	height:52px;
			margin:0 auto;
			display: flex;
			margin-top: 10px;
}
.login2 a{
	width:353px;
	display:block;
	line-height:52px;
	color:#fff;
	font-size:16px;
	font-weight: bold;
	padding-left:43px;
}
.log1:hover{
	background-color: #07f;
}
.log2:hover{
	background-color: #07f;
}
.log1{
	width:176px;
	height: 53px;
		display: flex;
	justify-content: center;
	border-right:3px solid #fff;
}
.log2{
	width:176px;
	height: 52px;
	display: flex;
	justify-content: center;
}
.a-login{
	width:353px;
	height: 42px;
	background-color: #f8f9fa;
	margin:0 auto;
	line-height: 42px;
	display: flex;
	justify-content: center;
}
/* .a-login img{
	width:22px;
	height:22px;
} */
.f-login ul{
		width:353px;
	height: 42px;
	display:flex;
	margin:15px auto 0 auto;
}	
.f-login li:nth-child(2) {
	margin-right: 140px;
	margin-left: 20px;
}
.main2{
	width:1280px;
	height:100%;
	margin:0 auto;
}
.search ul{
	display: flex;
	justify-content: space-between;
}
.btn-search{
	width:302px;
	height:44px;
	position: relative;
}
.search input{
	width:290px;
	height:44px;
	box-sizing:border-box;
	border: none;
	background-color: #f8f9fa;
}
.search img{
	width:25px;
	height:30px;
}
.search button{
	position:absolute;
	right:15px;
	bottom:3px;
	border:none;
		height:36px;
}
.all-game{
	margin-bottom:50px;
}
.all-game ul{
	display: flex;
	background-color: #fff;
	font-weight: 600;
	margin-top:30px;
}
.all-game li{
	margin:10px 10px 10px 67px;
	color:#777;
}
.all-game ul a{
	color:#777;
	font-weight: 500;
}
.all-game li:hover a{
	color:#07f;
}
.all-game li:first-child a{
	color:#07f;
	font-weight:bold;
}
.all-game2 a::selection {
	color:#07f;
	font-weight:bold;
}
.pc-game{
	margin-top:40px;
	width:1300px;
	height:100%;
	display:flex;
		flex-wrap: wrap;
}
.pc-game a:last-child{
	color:gray;
}
.pc-game1{
	width:302px;
	height: 315px;
	background-color:#fff;
	margin-right:20px;
	margin-bottom: 40px;
}
.pc-game-img{
	overflow: hidden;
}
.pc-game1 img{
	width:100%;
	height: 200px;
	transition:0.35s;
}
.pc-game1:hover img{	
	transform:scale(1.1);
	transition:0.35s;
}
.pc-game h2{
	padding:10px 10px;
}
.pcmob a{
font-weight: bold;
font-size:19px;
	}
.pcmob a:last-child{
	color:gray;
}
.pcmob a:hover{
	color:#07f;
}
.pc-game-name{
	width:262px;
	display: flex;
	margin-left:10px;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;;
}
.pc-game-name span{
	color:#07f;
	font-weight: bold;
	padding-right:5px;
}
.pc-game-subject{
	padding-top:10px;
	padding-left:10px;
	color:#777;
	display: flex;
	justify-content: space-between;
}
.pc-game-subject1{
	margin-right:32px;
}
.pc-game-subject1 span{
	border:1px solid #fff;
	border-radius: 20px;
	background-color: gray;
	color:white;
	padding:0 5px;
}
.pc-game-subject1 span:last-child{
	margin-left:8px;
}
.pc-game1:hover {
		box-shadow: 0 0 16px 0 rgba(0,0,0,.16);
	 transition: transform 0.35s;  
	 cursor: pointer;
}
.board{
	width:1260px;
	margin:30px auto;
	font-size:17px;
	display:block;
}
.board ul{
	display:flex;
	border-bottom:1px solid #fff;
}
.board li{
	padding:10px 0;
}
.board .no{
	flex:1;
}
.board .subject{
	flex:2;
}
.board .content{
	flex:4;
}
.board .writer{
	flex:2;
}
.board .date{
	flex:3;
}
.btn2 a{
	float:right;
	padding-right:30px;
	padding-top:10px;
}
.memo{
	display:flex;
	
}
.memo a{
	margin-right:10px;
	font-weight: bold;
}
.log-ok{
	display:flex;
	width:628px;
	height:332px;
	background-color: #fff;
}
.log-left{
	flex:1;
}
.log-right{
	flex:1;
}
.user-menu{
	margin-bottom:81px;
	margin-left:100px;
}
.user-menu a{
	float:right;
	font-size:12px;
	font-weight: 500;
	margin-left:20px;
}
.log-mid{
	margin:50px 0;
}
.log-mid li{
	margin-top:15px;
}
.log-mid li:first-child:hover a{
	transition:0.35s;
	color:#07f;
}
.log-top{
	display: flex;
}
.log-top li{
	margin-right:20px;
}
.log-top a{
	font-weight: bold;
	font-size:15px;
}
.log-bot{
	display: flex;
}
.log-bot li{
	width:119px;
	height:48px;
	border:1px solid #fff;
	background-color: black;
}
.log-bot a{
	display:block;
	color:#fff;
	height:100%;
    font-weight: bold;
    font-size:15px;
}
.bot-left a{
	line-height: 45px;
    padding-left: 45px;
}
.bot-right a{
		line-height: 45px;
    padding-left: 30px;
}
.log-bot a:hover{
	background-color: #07f;
	transition:0.35s;
}
.log-left{
	margin-left:50px;
	margin-top:30px;
}
.log-right{
	margin-top:95px;
}
.log-right li{
	margin-top:15px;
}
.log-right a:hover{
	color:#07f;
	transition:0.35s;
}
.log-right li:first-child{
	margin-top:0;
}
.reply{
	width:1000px;
	height:100%;
	margin:0 auto;
	font-size: 15px;
}
.reply ul{
	display:flex;
}
.reply li{
	margin-right:30px;
}
/* ----------footer영역--------------- */
.footer-wrap{
 	height:238px;
 	background-color: #222426;
 	margin-top:200px;
 	bottom:0;
}
.event{
	height:30px;
	padding:20px 0 10px 30px;
	border-bottom: 1px solid #777;
}
.event a{
	color:#fff;
}
.company-info{
	height:37px;
	margin:10px 0 10px 30px;
}
.company-info ul{
		color:#ddd;
	display: flex;
}
.company-info li{
		border-right:1px solid #777;
		padding:0 10px;
}
.company-info li:first-child{
		border-right:1px solid #777;
		padding:0 10px 0 0;
}
.company-info li:last-child{
		border-right:none;
		padding-right:0;
}
.copyright{
	margin-left:30px;
	color:#777;
}